body{
    margin: 0px;
    background-image: url(background\ principal.png);
}
/*HEADER*/
header{
    background-color: white;
    
}
.divinfo{
    border-bottom: 1px solid #000;
    background-color: rgb(196, 180, 180);
    height: 20px;
    margin-top: -17px;
    color: #3b7197;
}
.pend{
    text-align: center;
}
.whatsapp{
    width: 15px;
    height: 15px;
}
.divnav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #3b7197;
    
}
nav :hover{
    color:#3b7197 ;
}
.logo{
    width: 80px;
    
}
a{
    text-decoration: none;
    color: #000;
}
button{
    background: #CAE5FF;
	color: white;
	border-radius: 30px;
	border:1px solid #000;
	height: 50px;
	width: 120 px;
	font: bold 15px arial,sans-serif;
	
}
.msc:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}
.marquehover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}
/*HEADER*/

/*MAIN*/
.imgprincipal{
    width: 100%;

}

.msc{
    border: 1px solid #000;
    border-radius: 20px;

    position: relative;
    bottom: 50px;
    left: 650px;
    

    width: 220px;
    height: 40px;
    background-color: #CAE5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}
.secnav{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-bottom: 200px;
}
.secnav:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}


.exames{
    border:2px solid #000;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    position: relative;
    right: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/download\ \(1\).jpg);
}
.dexames{
    border: 1px solid #000;
    width: 100px;
    background-color: #3B7197;
    font-size: 30px;

    position: relative;
    bottom: 160px;
    right: 80px;
    
}

.consultas{
    border:2px solid #000;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    position: relative;
    right: 120px;
    

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/image\ 53.png)
}
.dconsultas{
    border: 1px solid #000;
    width: 120px;
    background-color: #3B7197;
    font-size: 30px;

    position: relative;
    bottom: 160px;
    right: 20px;

    
}

.cirurgias{
    border:2px solid #000;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    position: relative;
    left: -20px;

    

    display: flex;
    justify-content: center;
    

    background-image: url(/image\ 25.png);
}
.dcirurgias{
    border: 1px solid #000;
    width: 115px;
    background-color: #3B7197;
    font-size: 30px;

    position: relative;
    right: 100px;
    bottom: 160px;
    left: 70px;
}

.imagens{
    display: flex;
    flex-direction: row;
}
.fotosc{
    width: 470px;
    height: 350px;
    margin-bottom: 100px;
    
}
.conven{
    text-align: center;
    font-size: 40px;
    color: #3b7197;
}
.convenios{
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;
}
.conven1{
    display: flex;
    justify-content: center;
    align-items:center;
}
    

